
address {
    margin: .75em 0;
    font-style: normal;
}

/* Pas de bordure pointillée ou halo lors du clic sur un lien */
a:active {
    outline: none;
}
/* Pas de bordure autour des images dans les liens */
a img {
    border: none;
}

/* Divers éléments de type en-ligne (8) */
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

/* Formulaires */
form, fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
input, button, select {
    vertical-align: top; /* Solution pb. d'alignement. (9) */
}
