#{extends 'main.html' /}


<style type="text/css">
    #calendar tr td{
        padding: 8px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    #calendar{
        border-collapse: collapse;
        color: #000000;

    }

    .title{
        color:#FFFFFF;
        background:url("@{'/public/images/nav.png'}") repeat-x scroll 0 0 #2e2e2e;
    }

    .title td{
        font-weight:bold;
    }

    .tr_odd{
        background:url("@{'/public/images/nav.png'}") repeat-x scroll 0 0 #2f867f;
    }

    .tr_even{
        background:url("@{'/public/images/nav.png'}") repeat-x scroll 0 0 #ddd;
    }

    .today{
        font-weight: bold;
        border: 2px black solid;
    }

    .todayEvent{
        font-weight: bold;
        border-top:  2px black solid;
        border-right:  2px black solid;
        border-left:  2px black solid;
    }

    .todayEventName{
        border-bottom:  2px black solid;
        border-right:  2px black solid;
        border-left:  2px black solid;
        color: white;
        background:url("@{'/public/images/nav.png'}") repeat-x scroll 0 0 #257914;
    }

    .eventName{
        color: white;
        background:url("@{'/public/images/nav.png'}") repeat-x scroll 0 0 #257914;
    }
    .eventName td a{
        color: white;
    }
</style>

<div style="margin: 0 auto;" align="center">
    #{if flash.success}
    <p class="success">${flash.success}</p><br/>
    #{/if}

    #{if flash.error}
    <p class="error">${flash.error}</p><br/>
    #{/if}

    Vous pouvez configurer ce calendrier en cliquant ici : <a href="" onclick="changesettings();return false;">Configuration</a>
    <br/><br/>


    #{if calItems.size() > 0}
    <table id="calendar" cellpadding="5" cellspacing="0">
        <tr>
            <td colspan="8" style="border: 0px black solid;">
                Nous sommes le : ${todayDate.getDisplayName(Calendar.DAY_OF_WEEK, Calendar.LONG, Locale.FRENCH)}
                ${todayDate.format('dd MMMMM')}
                &nbsp;-&nbsp;
                ${todayIslamic.islamFormat()}
            </td>
        </tr>
        <tr>

            <td colspan="8" style="border: 0px black solid;" class="pagination">
                ${adr.raw()}
                &nbsp;-&nbsp;
                ${marajaName}
                <br/>
                <span class="prev_next">
                    <a href="@{Application.index(monthNumber,-1)}">
                        <img alt="Mois précédant" src="@{'/public/images/previous.png'}"
                             title="Mois précédant">
                    </a>
                </span>

                &nbsp;${month.capFirst()} - ${year}&nbsp;

                <span class="prev_next">
                    <a title="Mois suivant"
                       href="@{Application.index(monthNumber,1)}" rel="next">
                        <img alt="Mois suivant" src="@{'/public/images/next.png'}"
                             title="Mois suivant">
                    </a>
                </span>

                <br/><br/>
                <a href="#" onclick="$('#newsletter').slideToggle('slow');">Etre prévenu des événements par mail</a>

                <div id="newsletter" style="display: none;">
                    <br/>
                    <form action="@{Newsletters.subscription()}" method="post">
                        <p class="field">
                            <label style="font-weight: bold">Votre email : </label>
                            <input type="text" name="email" class="textbox"
                                   style="width: 200px;"/>
                        </p>
                        <p class="field">
                            <label style="font-weight: bold">Recevoir l'événement : </label>
                            <select name="beforeDay">
                                <option value="0">le jour même</option>
                                <option value="1">1 jour à l'avance</option>
                                <option value="2">2 jours à l'avance</option>
                                <option value="3">3 jours à l'avance</option>
                                <option value="7">1 semaine à l'avance</option>
                            </select>
                        </p>
                        <input class="button" type="submit" name="save" value="Sauvegarder"/>

                    </form>
                </div>
                <br/><br/>
            </td>
        </tr>
        <tr class="title">
            <td  colspan="2">
                ${month.capFirst()}
            </td>
            <td style="width:70px" >
                Fajr
            </td>
            <td  >
                L. de soleil
            </td>
            <td style="width:70px" >
                Dhuhr
            </td>
            <td  style="width:70px" >
                Maghrib
            </td>
            <td  style="width:70px" >
                Minuit
            </td>
            <td  >
                Hégirien
            </td>
        </tr>
        #{list items:calItems,as:'c'}
        #{if c.event}
        <tr class="event tr_${c_parity} ${c_index == today && currentMonth == monthNumber?'todayEvent':''}"  style="border-bottom:  none;">
            #{/if}
            #{elseif c_index == today && currentMonth == monthNumber}
        <tr class="today tr_${c_parity}">
            #{/elseif}
            #{else}
        <tr class="tr_${c_parity}">

            #{/else}
            <td style="text-align: left" ${c.event == null?"":"rowspan='2'"}>
                ${c.weekDay.capFirst()}
        </td>
        <td ${c.event == null?"":"rowspan='2'"}>
            ${c_index}
    </td>
    <td>
        ${c.fajr}
    </td>
    <td>
        ${c.sunrise}
    </td>
    <td>
        ${c.duhr}
    </td>
    <td>
        ${c.maghrib}
    </td>
    <td>
        ${c.midnight}
    </td>
    <td ${c.event == null?"":"rowspan='2'"}>
        ${c.hijriDay}
        #{if c.hijriDay == 1 || c_isFirst || c_isLast}
        &nbsp;-&nbsp;${c.hijriMonth}
        #{/if}

</td>

</tr>
#{if c.event}
<tr class="eventName ${c_index == today && currentMonth == monthNumber?'todayEventName':''}">
    <td colspan="5">
        #{if c.event.link}
        <a href="${c.event.link}">${c.event.name}</a>
        #{/if}
        #{else}
        ${c.event.name}
        #{/else}

    </td>
</tr>
#{/if}
#{/list}
<tr class="title">
    <td  colspan="2">
        ${month.capFirst()}
    </td>
    <td style="width:70px" >
        Fajr
    </td>
    <td  >
        L. de soleil
    </td>
    <td style="width:70px" >
        Dhuhr
    </td>
    <td  >
        Maghrib
    </td>
    <td  >
        Minuit
    </td>
    <td  >
        Hégirien
    </td>
</tr>
</table>
#{/if}
#{else}
<strong>Vous devez d'abord configurer le calendrier. </strong><br/><br/>
Nous avons détecté les paramètres suivants pour vous : <br/><br/>

<table>
    <tr>
        <td>
            <strong>Pays/Ville : </strong>
        </td>
        <td>
            <span id="country"></span>/<span id="city"></span>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Maraja :</strong>
        </td>
        <td>
            <select id="marajaList">
                #{list items:marajas}
                <option value="${_.id}">${_.name}</option>
                #{/list}
            </select>
        </td>
    </tr>
</table>

<br/>

<a href="" onclick="configure();">Cliquez ici pour configurer le calendrier selon ces paramètres</a>


<script type="text/javascript">
    // Build the URL to query...notice the php ip address at the end.
    var url = "http://ipinfodb.com/ip_query2.php?output=json&callback=?&timezone=true";
    var city;
    var country;
    var lat;
    var lng;
    var timezone;

    // Utilize the JQuery's JSON function
    $.getJSON(url, function(data){

        //Make sure it processed it okay.
        if(data.Locations[0].Status == "OK"){

            //Parse the JSON
            var location = data.Locations[0];
            city = location.City;
            country = location.CountryName;
            lat = location.Latitude;
            lng = location.Longitude;
            timezone = location.TimezoneName;

            $('#country').html(country);
            $('#city').html(city);

        }

    });

    function configure(){
        $.cookie("latitude", lat, { expires: 365 });
        $.cookie("longitude", lng, { expires: 365 });
        $.cookie("address", country+", "+city, { expires: 365 });
        $.cookie("timeZoneName", timezone, { expires: 365 });
        $.cookie('maraja', $('#marajaList').val(), 365, '/', '', '');
   
    }
</script>
#{/else}

</div>

<script type="text/javascript">
    function changesettings(){
        window.open('@{Application.changeLocation()}', 'Configuration', 'width=800,resizable=yes,scrollbars=yes');
    }
</script>
<script src="@{'/public/javascripts/jquery.cookie.js'}" type="text/javascript" charset="utf-8"></script>
